<a href="https://colab.research.google.com/github/Sirabhop/Writting-Project/blob/main/How_to_handle_large_data_sets_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.chdir("/content/drive/MyDrive/My Project/Kaggle/Challenge#3")

In [ ]:
import pandas as pd

In [ ]:
from resource import getrusage, RUSAGE_SELF

In [ ]:
df = pd.read_csv('train.csv', header = 0)
print('RAM: ', int(getrusage(RUSAGE_SELF).ru_maxrss)/1024)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

RAM:  10720.0625

In [ ]:
df.head(5)

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1

1) Specify data type for each features

In [ ]:
df.shape

(145231, 1934)

In [ ]:
#But there are 1934 features!!!, it's impractical in this case to go this way.

2) Use chunking

In [ ]:
df_chunked = pd.read_csv('train.csv', chunksize = 10000)
print('RAM: ', int(getrusage(RUSAGE_SELF).ru_maxrss)/1024)

RAM:  10720.0625

In [ ]:
df_filtered = pd.DataFrame()
for df_ in df_chunked:
  df_ = df[df['ID'] > 1000]
  df_filtered = pd.concat([df_filtered, df_])

print('RAM: ', int(getrusage(RUSAGE_SELF).ru_maxrss)/1024)
#Session crash!!

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (8,9,10,11,12,43,157,196,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (8,9,10,11,12,43,196,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

3) Use SQL-Python

In [ ]:
!pip install mysqlclient

In [ ]:
import sqlalchemy as db

In [ ]:
engine = db.create_engine("sqlite:////content/drive/MyDrive/My Project/Kaggle/Challenge#3/train.csv")
print(engine.execute('''SELECT * FROM train'''))